.start{
    height: 400px;
}
.flex{

    display: flex;
    position: relative;
    padding: 0 20px;
}
.padd{
    padding: 0 20px;
}
.contact{
    float: right;
    display: flex;
    margin: 25px;
    display: inline;
    top: -130px;
}
.img{
    width: 250px;
    height: 250px;
    display: flex;
    float: right;
    bottom: 60px;
}
.display{
display: flex;
text-align: center;
height: 400px;
background-color: #e1ebe6;
}
.box{
    box-shadow: 0 4px 2px 5px #d1e2da;
    border-radius: 27px;
    margin: 15px;
    text-align: center;
    padding: 35px 0;
}
third{
    height: 400px;
}
.disp{
    display: flex;
text-align: center;
height: 400px;
}